.dk-auth-main {
  display: inline-block;
}
.dk-checkbox {
  width: 1rem;
}
.dk-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
}
.dk-table td {
  vertical-align: middle;
}
.dk-auth-object {
  width: 20rem;
}
.dk-auth-order {
  width: 5rem;
}
.dk-auth-value {
  width: 30rem;
}
.collapsed {
  display: none;
}
