.dk-table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  border: none;
}
.dk-name{
  width: 20rem;
}
.dk-description{
  width: 20rem;
}
.dk-number{
  width: 5rem;
}
.dk-actions{
  width: 3rem;
}
