<div class="card mt-4">
  <div class="card-body">
    <div *ngFor="let userEmailForm of userEmailFormArray.controls; let i = index" class="card mb-4">
      <button type="button" id="remove" class="close d-flex justify-content-end mr-2" aria-label="Close" (click)="deleteEmail(i)">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="card-body row" [formGroup]="userEmailForm">
        <dk-app-attribute-form2 class="col-md-6 col-lg-4"
                                [attributeControl]="getAttrCtrlFromID('TYPE')"
                                [formGroup]="userEmailForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <dk-app-attribute-form2 class="col-md-6 col-lg-4"
                                [attributeControl]="getAttrCtrlFromID('EMAIL')"
                                [formGroup]="userEmailForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <div class="col-1 row form-group mr-2 form-check">
          <input type="radio" class="form-check-input" id="primaryEmail" [value]="1" name="PRIMARY" formControlName="PRIMARY">
          <label for="primaryEmail" class="form-check-label">Primary</label>
        </div>
      </div>
    </div>
    <button type="button" id="add" class="btn btn-sm btn-primary float-right" [disabled]="readonly" (click)="addEmail()">Add</button>
  </div>
</div>
