<div class="card mt-4">
  <div class="card-body">
    <div *ngFor="let userAddressForm of userAddressFormArray.controls; let i = index" class="card mb-4">
      <button type="button" id="remove" class="close d-flex justify-content-end mr-2" aria-label="Close"
              (click)="deleteAddress(i)">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="card-body row" [formGroup]="userAddressForm">
        <dk-app-attribute-form2 class="col-3"
                                [attributeControl]="getAttrCtrlFromID('TYPE')"
                                [formGroup]="userAddressForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <dk-app-attribute-form2 class="col-6"
                                [attributeControl]="getAttrCtrlFromID('ADDRESS_VALUE')"
                                [formGroup]="userAddressForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <div class="col-1 row form-group mr-2 form-check">
          <input type="radio"  id="primaryAddress" [value]="1" class="form-check-input"
                 name="PRIMARY" formControlName="PRIMARY">
          <label for="primaryAddress" class="form-check-label">Primary</label>
        </div>
        <dk-app-attribute-form2 class="col-md-3"
                                [attributeControl]="getAttrCtrlFromID('POSTCODE')"
                                [formGroup]="userAddressForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <dk-app-attribute-form2 class="col-md-3"
                                [attributeControl]="getAttrCtrlFromID('CITY')"
                                [formGroup]="userAddressForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
        <dk-app-attribute-form2 class="col-md-3"
                                [attributeControl]="getAttrCtrlFromID('COUNTRY')"
                                [formGroup]="userAddressForm"
                                [readonly]="readonly"
                                [isSmallSize]="true">
        </dk-app-attribute-form2>
      </div>
    </div>
    <button type="button" id="add" class="btn btn-sm btn-primary float-right" [disabled]="readonly" (click)="addAddress()">Add</button>
  </div>
</div>
