<table class="table table-bordered table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col">{{attrCtrl.label}}</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let singleValueForm of singleValueArray.controls; let i = index">
    <td>
      <dk-app-attribute [attributeControl]="attrCtrl"
                        [formGroup]="singleValueForm"
                        [isSmallSize] = "true"
                        [readonly]="readonly">
      </dk-app-attribute>
    </td>
    <td class="dk-actions">
      <button class="btn btn-sm" type="button" id="add" [disabled]="readonly" (click)="insertValue(i)" title="Insert">
        <span class="fas fa-plus"></span>
      </button>
      <button class="btn btn-sm" type="button" id="delete" [disabled]="readonly" (click)="deleteValue(i)" title="Delete">
        <span class="far fa-trash-alt"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
